<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <div class="contenedor-home">
      <h1>¡Saber es poder!<p> Crearás habilidades para tu presente y tu futuro.</p>
      </h1>
      <div class="banner">
        <img src="img/banner_iMentor.jpg" alt="Student">
      </div>
      <a class="button" href="/users/register"><i class="fas fa-edit"></i> Regístrate aquí</a>
      <section class="ventajas">
        <img src="img/ventajas.jpg" alt="Mentorias">
        <div class="contenido">
          <h4>¡Aprendé de forma dinámica!</h4>
          <p>Pasalo bien mientras te preparas para el mundo laboral. En comunidad sale todo mejor. Nuestro staff está
            preparado para asistirte en las diferentes áreas del mundo Tech. Mentores especialistas en cada área, te
            acompañan y guían en tu camino, resolviendo tus dudas. En las asesorías, pondrás todo en práctica e
            intercambiarás ideas y experiencias con tu mentor.</p>
        </div>
      </section>
      <h2>Conoce nuestras Asesorías</h2>
      <div class="botones-asesorias">
        <div class="accordion">
          <a href="/products/productServices">
            <h3>Front-End</h3>
            <img src="img/Front-end-Development.jpeg" alt="Front-End">
          </a>
        </div>
        <div class="accordion">
          <a href="/products/productServices">
            <h3>Back-End</h3>
            <img src="img/back-end-developer.jpg" alt="Back-End">
          </a>
        </div>
        <div class="accordion">
          <a href="/products/productServices">
            <h3>Base de Datos</h3>
            <img src="img/base-de-datos.jpg" alt="Base de Datos">
          </a>
        </div>
        <div class="accordion">
          <a href="/products/productServices">
            <h3>UX/UI</h3>
            <img src="img/ui-ux.jpg" alt="UX/UI">
          </a>
        </div>
        <div class="accordion">
          <a href="/products/productServices">
            <h3>Análisis de Datos</h3>
            <img src="img/analisis-datos.jpg" alt="Análisis de Datos">
          </a>
        </div>
        <div class="accordion">
          <a href="/products/productServices">
            <h3>Marketing Digital</h3>
            <img src="img/m-digital.png" alt="Marketing Digital">
          </a>
        </div>
      </div>

      <div class="area-boton-final-home">
        <a class="button" href="/products/"><i class="fas fa-search"></i> Reservá tu asesoría</a>
      </div>


      <div class="contenedor-clientes">
        <h2 style="text-align: center; background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,3,91,1) 31%, rgba(2,137,164,1) 100%); color: whitesmoke">Conoce nuestros Mentores</h2>
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="/img/avatars/mentor-1650563693435.png" alt="asesor_1" class="img-mentor">
            <div class="texto-carrusel">
              <h3><b>Lucas Sequeira</b></h3>
            </div>
            <div class="text-descripcion">
              <p>Front-End Developer</p>
            </div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/img/avatars/mentor-1650568878221.jpg" alt="asesor_2" class="img-mentor">
            <div class="texto-carrusel">
              <h3><b>Raiza Colmenares</b></h3>
            </div>
            <div class="text-descripcion">
              <p>Desarrolladora Web Full Stack</p>
            </div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/img/avatars/mentor-Patricia-Williams.jpg" alt="asesor_3" class="img-mentor">
            <div class="texto-carrusel">
              <h3><b>Susana Roca</b></h3>
            </div>
            <div class="text-descripcion">
              <p>Community Manager</p>
            </div>
          </div>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="circulos-carrusel" style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
      <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {
            slideIndex = 1
          }
          if (n < 1) {
            slideIndex = slides.length
          }
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex - 1].style.display = "block";
          dots[slideIndex - 1].className += " active";
        }

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
      </script>

      <div class="contenedor-clientes">
        <section class="clientes">
          <h2 class="titulo-clientes">Nuestros clientes</h2>
          <div class="slideshow-container">
            <div class="mySlides-client fade">
              <div class="numbertext">1 / 3</div>
              <img src="img/cliente1.jpg" alt="cliente1" class="img-client">
              <div class="texto-carrusel">
                <h3><b>Lorena Sacarias</b></h3>
              </div>
              <div class="text-descripcion">
                <p>Tomé la mentoría de Base de Datos y pude crecer en mi carrera profesional, en iMentor demostraron un
                  fuerte compromiso para resolver mis inquietudes</p>
              </div>
            </div>
            <div class="mySlides-client fade">
              <div class="numbertext">2 / 3</div>
              <img src="img/cliente2.jpg" alt="cliente2" class="img-client">
              <div class="texto-carrusel">
                <h3><b>Mauricio Peña</b></h3>
              </div>
              <div class="text-descripcion">
                <p>La asesoría de UX/UI fue una experiencia única, la calidad profesional y humana de los mentores me
                  ayudó a ganar confianza en mi mismo</p>
              </div>
            </div>
            <div class="mySlides-client fade">
              <div class="numbertext">3 / 3</div>
              <img src="img/cliente3.jpg" alt="cliente3" class="img-client">
              <div class="texto-carrusel">
                <h3><b>Juan Juanes</b></h3>
              </div>
              <div class="text-descripcion">
                <p>Mejor página para mentorías en IT. Mi carrera profesional pudo avanzar a otro nivel en materia de
                  habilidades blandas y duras</p>
              </div>
            </div>
            <div>
              <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides2(1)">&#10095;</a>
            </div>
            <div class="circulos-carrusel" style="text-align:center">
              <span class="dot2" onclick="currentSlide2(1)"></span>
              <span class="dot2" onclick="currentSlide2(2)"></span>
              <span class="dot2" onclick="currentSlide2(3)"></span>
            </div>

        </section>
        <script>
          var slideIndex2 = 1;
          showSlides2(slideIndex2);

          function plusSlides2(n) {
            showSlides2(slideIndex2 += n);
          }

          function currentSlide2(n) {
            showSlides2(slideIndex2 = n);
          }

          function showSlides2(n) {
            var i;
            var slides2 = document.getElementsByClassName("mySlides-client");
            var dot2 = document.getElementsByClassName("dot2");
            if (n > slides2.length) {
              slideIndex2 = 1
            }
            if (n < 1) {
              slideIndex2 = slides2.length
            }
            for (i = 0; i < slides2.length; i++) {
              slides2[i].style.display = "none";
            }
            for (i = 0; i < dot2.length; i++) {
              dot2[i].className = dot2[i].className.replace(" active", "");
            }
            slides2[slideIndex2 - 1].style.display = "block";
            dot2[slideIndex2 - 1].className += " active";
          };
        </script>
      </div>
  </main>
  <%- include('./partials/footer') %>
</body>

</html>