<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iMentor</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
<body>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <div class="logo_404_error_content">
    <img src="/img/Not_found.svg" alt="not found img">
    <h1>Ups... Parece que te has perdido!</h1>
    
    <div class="btn-volver-home">
        <a href="/"></i>Prueba volviendo a home</a>
    </div>
    </div>
           
</body>
</html>
