<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página en construcción</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <main>

      <div class="contenedor-pagina-en-construccion">

        <div class="logo-pagina-en-construccion"><a href="/" class="enlace-logo">
            <img src="/img/Logo-iMentor1.png" alt="Logo iMentor" class="logo-pagina-en-construccion">
          </a></div>
        <div>
          <h1>WORK IN PROGRESS</h1>
        </div>
        <div class="ilustracion-en-construccion">
          <img src="/img/web-building.png" alt="imagen de página en construcción" class="ilustracion-en-construccion">
        </div>
        <div>
          <p>Esta página se lanzará pronto. Prueba volver
            a alguna de nuestras páginas existentes!</p>
        </div>

        <div class="botones-pagina-en-construccion">
          <div class="btn-pagina-construccion">
            <a href="/">
              <h3>Home</h3>
            </a>
          </div>
          <div class="btn-pagina-construccion">
            <a href="/products/productServices">
              <h3>Servicios</h3>
            </a>
          </div>
          <div class="btn-pagina-construccion">
            <a href="/products">
              <h3>Nuestras mentorias</h3>
            </a>
          </div>

          <div class="icons">
            <a href="/facebook"><i class="fab fa-facebook-square"></i></a>
            <a href="/twitter"><i class="fab fa-twitter-square"></i></a>
            <a href="/instagram"><i class="fab fa-instagram-square"></i></a>
            <a href="/linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="/youtube"><i class="fab fa-youtube-square"></i></a>
          </div>
        </div>
    </main>
    </div>

  </body>

</html>