<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>  
    <%- include('../partials/header') %>
    <main>
        <div class="contenedor-product-detail">   
            <section class="contenedor sobre-servicios">
                <h2 class="titulo-servicios">Nuestros Servicios</h2>
                <div class="contenedor-sobre-servicios">
                    <img src="/img/ilustracion1.svg" alt="Acá va una ilustracion .svg" class="ilustracion-sobre-servicios">
                    <div class="contenido-textos">
                        <a href="#ir-asesoria-categoria">
                            <h3><span>1</span>Mentoría</h3>
                        </a>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil asperiores minus eaque quae id
                            illo rerum modi quos iste recusandae.</p>
                        <a href="#ir-membresia-categoria">
                            <h3><span>2</span>Membresía</h3>
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil numquam nostrum molestias nisi?
                            Temporibus enim possimus velit at ipsum sunt.</p>
                        <a href="#ir-gift-card-categoria">
                            <h3><span>3</span>Gift Cards</h3>
                        </a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi iusto nesciunt optio
                            reprehenderit. Cum unde nostrum iste nesciunt quaerat!</p>
                    </div>
                </div>
            </section>
           
            <section class="portafolio-mentorias">
                <a name="ir-asesoria-categoria"></a>
                <div class="contenedor-productdetail">
                    <h2 class="titulo-asesorias">Mentorías</h2>

                    <button class="accordion-categoría">Front-End <i
                            class="fas fa-solid fas fa-chevron-down"></i></button>

                    <div class="panel-categoria">
                        <p class="descripcion-categoria-asesoria">Asesoría de 2 horas, virtual o presencial. Esta asesoría
                            te aclarará dudas generales sobre como orgnaziarte, conocer sobre las ofertas laborales, dudas
                            tecnológicas o lenguaje. Análisis personalidado sobre tus proyectos, costos, tiempos,
                            entregables. </p>
                        <div class="contenedor-productdetail">
                            <div class="mentores-cont">
                                <div class="cada-mentor">
                                    <img src="/img/full-stack.jpg" alt="Fotografía del asesor Lucas Sequeira, Desarrollador Web">
                                    <a href="/products">Ver más detalles</a>
                                            </div>
                                        </article>
                                   
                                </div>
                            </div>
                        </div>
                   

                    <button class="accordion-categoría">Back-End<i class="fas fa-solid fas fa-chevron-down"></i></button>

                    <div class="panel-categoria">
                        <p class="descripcion-categoria-asesoria">Asesoría pensada para 16 horas de encuentros. Analiza y
                            comprende las necesidades de los usuarios para diseñar soluciones de backend para desarrollar aplicaciones funcionales y escalables.</p>
                        <div class="contenedor-productdetail">
                            <div class="mentores-cont">
                                <div class="cada-mentor">
                                    <img src="/img/backend-development.png" alt="Imagen de backen development">
                                    <a href="/products">Ver más detalles</a>
                                </div>
                                </article>
                            </div>
                            </div>
                        </div>
                    

                    
                    <button class="accordion-categoría">Base de Datos<i class="fas fa-solid fas fa-chevron-down"></i></button>

                    <div class="panel-categoria">
                        <p class="descripcion-categoria-asesoria">Asesoría pensada para 16 horas de encuentros. Análisis de datos, manejo de diferentes motores de base de datos, SQL administrator, diseño de base de datos.</p>
                        <div class="contenedor-productdetail">
                            <div class="mentores-cont">
                                <div class="cada-mentor">
                                    <img src="/img/base-de-datos1.jpg" alt="Foto del asesor Pedro Gonzalez, Ingeniero en sistemas">
                                    <a href="/products">Ver más detalles</a>
                                </div>
                                        </article>
                                </div>
                            </div>
                        </div>
                   
                    
                    <button class="accordion-categoría">UX/UI<i class="fas fa-solid fas fa-chevron-down"></i></button>

                    <div class="panel-categoria">
                        <p class="descripcion-categoria-asesoria">Asesoría pensada para 16 horas de encuentros. Analiza y
                            comprende las necesidades de los usuarios para diseñar soluciones que agregan valor al cliente,
                            mientras son viables y rentables para la empresa.</p>
                        <div class="contenedor-productdetail">
                            <div class="mentores-cont">
                                <div class="cada-mentor">
                                    <img src="/img/ux-ui.jpg" alt="Foto la asesora Victoria Defagot, Diseñadora Grfáfica">
                                    <a href="/products">Ver más detalles</a>
                                            </div>
                                        </article>
                                </div>
                            </div>
                        </div>
                    
                    
                    <button class="accordion-categoría">Análisis de Datos<i class="fas fa-solid fas fa-chevron-down"></i></button>

                    <div class="panel-categoria">
                        <p class="descripcion-categoria-asesoria">Asesoría de 16 horas de encuentro con un asesor profesional, especialista en Análisis de datos, estádisticas, Big Data</p>
                        <div class="contenedor-productdetail">
                            <div class="mentores-cont">
                                <div class="cada-mentor">
                                    <img src="/img/data-analitic.jpg" alt="Foto la asesora Patricia Garza, Análista de sistemas">
                                    <a href="/products">Ver más detalles</a>
                                            </div>
                                        </article>
                                </div>
                            </div>
                        </div>
                   

                    <button class="accordion-categoría">Marketing Digital<i class="fas fa-solid fas fa-chevron-down"></i></button>
                    <div class="panel-categoria">
                        <p class="descripcion-categoria-asesoria">Hecha para guídarte en diseño e implementación de
                            estrategias digitales para acercar a las marcas con sus audiencias y consumidores potenciales.
                        </p>
                        <div class="contenedor-productdetail">
                            <div class="mentores-cont">
                                <div class="cada-mentor">
                                    <img src="/img/marketing_digital.jpg" alt="Foto de la asesora Patricia Williams, Community Manager">
                                    <a href="/products">Ver más detalles</a>
                                            </div>
                                        </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                    <script>
                        var acc = document.getElementsByClassName("accordion-categoría");
                        var i = 0;

                        for (i = 0; i < acc.length; i++) {
                            acc[i].addEventListener("click", function () {
                                var panel = this.nextElementSibling;
                                if (panel.style.display === "block") {
                                    panel.style.display = "none";
                                } else {
                                    panel.style.display = "block";
                                }
                            });
                        }
                    </script>
                </div>
            </section>

            <section class="membresias">
                <a name="ir-membresia-categoria"></a>
                <h2 class="titulo-membresias">Membresías</h2>
                <div class="contenedor-sobre-membresias">
                    <img src="/img/membresia.svg" alt="Acá va una ilustracion .svg" class="ilustracion-sobre-membresias">
                    <div class="contenido-textos">

                        <h3><span>1</span>Mensual</h3>
                       
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil asperiores minus eaque quae id
                            illo rerum modi quos iste recusandae.</p>

                        <h3><span>2</span>Anual</h3>
                    
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil numquam nostrum molestias nisi?
                            Temporibus enim possimus velit at ipsum sunt.</p>

                        
                    </div>
                    <div><a class="link_ver_membresias" href="/products">Ver más detalles acá</a></div>
                </div>
            </section>


            <section class="gift-cards">
                <div class="contenedor-giftcard">
                    <a name="ir-gift-card-categoria"></a>
                    <h3 class="titulo-gif-cards">Regala una tarjeta</h3>
                    <img src="/img/tarjetaRegalo.jfif" alt="Tarjeta de regalo" style="width:100%">
                    <p>Adquiere una tarjeta y regala una asesoría en cualquier momento. Nuestras gift cards tienen diferentes opciones y son transferibles físicas o virtuales.</p>
                    <a href="/products">Ver más detalles del producto acá</a>
                </div>
            </section>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <%- include('../partials/footer') %>
</body>
</html>