<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="contenedor-edicion-productos">
            <h2>Servicios</h2>
            <div class="opciones-desplegables">
                <p class="servicio-producto">
                    <select name="servicio-producto" id="">
                        <option selected="true" disabled="disabled">seleccione el servicio</option>
                        <option value="value1">Asesorias</option>
                        <option value="value2">Membresias</option>
                        <option value="value3">Gif Cards</option>
                    </select>
                </p>
                <p class="categoria-producto">
                    <select name="categoria-producto" id="">
                        <option selected="true" disabled="disabled">seleccione la categoría</option>
                        <option value="value1">Front-End</option>
                        <option value="value2">Back-End</option>
                        <option value="value2">UI/UX</option>
                        <option value="value2">Base de Datos</option>
                        <option value="value2">Análisis de Datos</option>
                        <option value="value3">Marketing Digital</option>
                        <option value="value3">Mensual</option>
                        <option value="value3">Anual</option>
                    </select>
                </p>
            </div>
            <div class="container-productos-existentes">
                <h2>Productos:</h2>
                <a href="">Crear producto</a>
                <section class="container" id="slider">           
                    <div class="miniatura">
                        <img src="img/mentor3.jpg" alt="Imagen de la mentora Patricia Garza">
                        <div class="product-details">
                            <h3>Asesoría</h3>
                            <h3 class="name-product">Análisis de Datos</h3>
                            <h3>Patricia Garza</h3>
                            <p><span>40USD$</span>03 horas</p>
                            <a href="/productEdition">Editar</a>
                        </div>
                    </div>
                    <div class="miniatura">
                        <img src="img/mentor4.jpg" alt="Imagen de la mentora Quizaira Rodriguez">
                        <div class="product-details">
                            <h3>Asesoría</h3>
                            <h3 class="name-product">Back-End</h3>
                            <h3>Quizaira Rodriguez</h3>
                            <p><span>40USD$</span>03 horas</p>
                            <a href="/productEdition">Editar</a>
                        </div>
                    </div>
                    <div class="miniatura">
                        <img src="img/mentor5.jpg" alt="Imagen del mentor Pedro Gonzalez">
                        <div class="product-details">
                            <h3>Asesoría</h3>
                            <h3 class="name-product">Base de Datos</h3>
                            <h3>Pedro Gonzalez</h3>
                            <p><span>40USD$</span>03 horas</p>
                            <a href="/productEdition">Editar</a>
                        </div>
                    </div>
                    <div class="miniatura">
                        <img src="img/mentor6.png" alt="Imagen del mentor Lucas Sequeira">
                        <div class="product-details">
                            <h3>Asesoría</h3>
                            <h3 class="name-product">Front-End</h3>
                            <h3>Lucas Sequeira</h3>
                            <p><span>40USD$</span>03 horas</p>
                            <a href="/productEdition">Editar</a>
                        </div>
                    </div>
                </section>
            </div>
            <form class="formulario-edicion-productos" action="/productDetail" method="GET">
                <h3> Editar información del producto</h3>
                    <p><input  class="box" type="text" name="nombre" id="nombre" placeholder="Nombre del producto" required></p>
                    <p ><input  class="box" type="text" name="descripcion" id="descripcion" placeholder="Descripción" required></p>
                    <p>
                        <label>Servicio:
                        <br>
                        <label class="opciones"><input type="radio" name="servicio" value="Asesoría">Asesoría</label>
                        <br>
                        <label class="opciones"><input type="radio" name="servicio" value="Membresía">Membresía</label>
                        <br>
                        <label class="opciones"><input type="radio" name="servicio" value="GifCards">Gif Cards</label>
                        </label>
                    </p>
                    <p>
                        <select class="box" name="categoria-producto" id="">
                            <option selected="true" disabled="disabled">seleccione la categoría</option>
                            <option value="value1">Front-End</option>
                            <option value="value2">Back-End</option>
                            <option value="value2">UI/UX</option>
                            <option value="value2">Base de Datos</option>
                            <option value="value3">Marketing Digital</option>
                            <option value="value3">Mensual</option>
                            <option value="value3">Anual</option>
                            <option value="value3">No Aplica </option>
                        </select>
                    </p>
                    <p><input class="box" type="text" name="mentor" id="mentor" placeholder="Mentor" required></p>
                    <p><input class="box" type="text" name="paisMentor" id="paisMentor" placeholder="País del mentor" required></p>
                    <p><input class="box"type="number" name="horas" id="horas" placeholder="Horas" min="0" required></p>
                    <p>
                        <label>Horario:
                        <br>
                        <label class="opciones"><input type="checkbox" name="horario" value="14:00">14:00hs</label>
                        <br>
                        <label class="opciones"><input type="checkbox" name="horario" value="16:00">16:00hs</label>
                        <br>
                        <label class="opciones"><input type="checkbox" name="horario" value="20:00">20:00hs</label>
                        </label>
                    </p>
                    <p><input class="box" type="number" name="precio" id="precio" placeholder="Precio $" min="0" required></p>
                    <p><label>Subir imagen del producto:</label></p>
                    <p><input class="box" type="file" name="fotoProducto" accept=".jpg" multiple></p>    
                <div class="botones">
                    <button class="enviar" type="submit">Crear</button>
                    <button class="borrar" type="reset">Borrar</button>   
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>