<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMentor</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="css/index-styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <section class="navegacion">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <a href="/" class="enlace-logo">
                    <img src="img/Logo-iMentor1.png" alt="Logo iMentor" class="logo">
                </a>
                <div class="buscar">
                    <input type="text" placeholder="Buscar" required>
                    <div class="btn">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                          <a href="/login" class="enlace-cuenta">
                              <i class="fas fa-user-circle"></i>
                          </a>
                          <a href="/productCart" class="enlace-cesta">
                              <i class="fas fa-shopping-basket"></i>
                          </a>
                          <a href="#" class="enlace-pais">
                              <i class="fas fa-globe"></i>
                          </a>
                          <button class="boton-header-crear-cuenta" type="submit"><a href="/register">¡Crea tu cuenta!</a></button>
                          <button class="boton-header-ingresar" type="submit"><a href="/login">Ingresar</a></button>
                <ul>
                    <li><a class="active" href = "/#">Home</a></li>
                    <li><a href = "/productDetail">Servicios</a></li>
                    <li><a href = "#">Nosotros</a></li>
                    <li><a href = "#">Plataforma</a></li>
                    <li class="cesta"><a href = "/productCart"><i class="fas fa-shopping-basket"></i></a></li>
                    <li class="crea-cuenta"><a href = "/register">¡Crea tu cuenta!</a></li>
                    <li class="ingresar"><a href = "/login">Ingresar</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        
        <div class = "banner">
            <br> <br> <br> <br> <br> <br>
                <h1>¡Saber es poder!</h1>
                <br> <br> <br> <br> <br> <br>
        </div>
      
            <br>
            <a class="button" href="/register">Registrate Aqui</a>
            <p></p>
           
            <br>
      
           

      <button class="accordion">Front-End Development</button>
      
      <div class="panel">
        <p>Un desarrollador frontend se encarga de la parte visual de la web. Diseña la estructura colorimetría, banners, imágenes, tipografía, entre otras. Trabaja del lado del cliente, en el navegador, en el lado que se ve. Mientras que un desarrollador backend, trabaja en la parte del servidor y procesa la información recibida a través del frontend.</p>
      </div>
      
      <button class="accordion">UX</button>
      
      <div class="panel">
        <p>Un diseñador UX o de experiencia de usuario investiga, analiza y comprende las necesidades de los usuarios para diseñar soluciones que agregan valor al cliente, mientras son viables y rentables para la empresa.</p>
      </div>
      
      <button class="accordion">Marketing Digital</button>
      <div class="panel">
        <p>Un experto en Marketing Digital es un profesional imprescindible en un mundo que gira entorno al diseño e implementación de estrategias digitales para acercar a las marcas con sus audiencias y consumidores potenciales.</p>
      </div>
      <br>
      <br>
      <a class="button" href="/productDetail">Quiero una asesoría</a>
      <p></p>
     
      <br>
      
      <br>
      
      <h2 style ="text-align: center">Encuentra al asesor indicado</h2>
      <br>
      <div class="slideshow-container">
      
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <div class="numbertext">2 / 3</div>
          <img src="img/Pedro Piedra.png" alt= "asesor_1"  class="responsive">
          <br>
          <div class="text"><p><b>Pedro Piedra</b></p></div> 
          <div class="text-descripcion"><p>Front-End Developer</p></div> 
        
          
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="img/Martha Martes.png" alt= "asesor_2"  class="responsive">
          <br>
          <div class="text"><p><b>Martha Martes</b></p></div> 
          <div class="text-descripcion"><p>UX Expert</p></div> 
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="img/Juan Juanes.png" alt= "asesor_3"  class="responsive">
          <br>
          <div class="text"><p><b>Juan Juanes</b></p></div> 
          <div class="text-descripcion"><p>Product Owner</p></div> 
         
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
      
      
      
      <div >
      <script>
      
      var slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
      }
      
      var acc = document.getElementsByClassName("accordion");
      var i;
      
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
      
      
      </script>
      </div>
      
      <br>
      <a class="button" href="/productDetail" alt = "Detalle de Producto">Busca a tu asesor</a>
      <p></p>
     
      <br>
      
      <br>
      <br>
      
      <br>  <br>
      
     
    </main>
    <footer>
          <div class="links">
              <ul class="links-utiles">
                  <h4>LINKS ÚTILES</h4>
                  <li><a href="/beneficios">Beneficios</a></li>
                  <li><a href="/formulario-trabajo">Trabajá con nosotros</a></li>
                  <li><a href="/contacto">Contacto</a></li>
              </ul>
              <ul class="comunidad">
                  <h4>NOSOTROS</h4>
                  <li><a href="/webinars">Webinars</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/iMentor-historia">Sobre iMentor</a></li>
              </ul>
          </div>
          <div class="socialmedia">
            <h4>Síguenos en</h4>
            <div class="icons">
                <a href="/facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="/twitter"><i class="fab fa-twitter-square"></i></a>
                <a href="/instagram"><i class="fab fa-instagram-square"></i></a>
                <a href="/linkedin"><i class="fab fa-linkedin"></i></a>
                <a href="/youtube"><i class="fab fa-youtube-square"></i></a>
            </div>
          </div>
          <div class="newsletter">
            <h4>Súmate al Newsletter</h4>
            <div class="terminos">
                <input type="checkbox" name="terminos" id="terminos">
                <label for="terminos">Acepto los términos y condiciones</label>
            </div>
            <div class="mail-button">
                <form action="/newsletter" method="POST">
                  <input class="newsletterJoin" type="email" name="email" placeholder="tuemail@ejemplo.com">
                </form>
                <div class="suscription">
                  <button class="suscriptionbutton">Suscribirme</button>
              </div>
            </div>
          </div>
  </footer>
</body>
</html>