<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>iMentor</title>
</head>
<body>
    <header>

    </header>
    <main>
    </main>
    <footer>
        <div class="logo">
            <img src="img/Logo-iMentor.jpg" alt="Logo iMentor">
        </div>
        <div class="links">
            <ul>
                <h4>Servicios</h4>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
            </ul>
            <ul>
                <h4>Nosotros</h4>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
            </ul>
            <ul>
                <h4>Contacto</h4>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
            </ul>
        </div>
        <div class="socialmedia">
            <h4>Síguenos en</h4>
            <div class="icons">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-youtube-square"></i>
            </div>
        </div>
        <div class="newsletter">
            <h4>Súmate en nuestro Newsletter</h4>
            <div class="agree">
                <input type="checkbox">
                <p>Acepto términos y condiciones</p>
            </div>
            <div class="newsletterJoin" action="#" method="GET">
                <div class="input">tuemail@ejemplo.com</div>
            </div>
            <button class="suscription">Suscribirme</button>
        </div>
    </footer>
</body>
</html>