<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMentor</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/productCart-styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <section class="navegacion">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <a href="#" class="enlace-logo">
                    <img src="img/Logo-iMentor1.png" alt="Logo iMentor" class="logo">
                </a>
                <div class="buscar">
                    <input type="text" placeholder="Buscar" required>
                    <div class="btn">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <a href="#" class="enlace-cuenta">
                    <i class="fas fa-user-circle"></i>
                </a>
                <a href="#" class="enlace-cesta">
                    <i class="fas fa-shopping-basket"></i>
                </a>
                <a href="#" class="enlace-pais">
                    <i class="fas fa-globe"></i>
                </a>
                <button class="boton-header-crear-cuenta" type="submit">¡Crea tu cuenta!</button>
                <button class="boton-header-ingresar" type="submit">Ingresar</button>
                <ul>
                    <li><a class="active" href = "#">Home</a></li>
                    <li><a href = "#">Servicios</a></li>
                    <li><a href = "#">Nosotros</a></li>
                    <li><a href = "#">Plataforma</a></li>
                    <li class="cesta"><a href = "#"><i class="fas fa-shopping-basket"></i></a></li>
                    <li class="crea-cuenta"><a href = "#">¡Crea tu cuenta!</a></li>
                    <li class="ingresar"><a href = "#">Ingresar</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        
    </main>
    <footer>
    </footer>
</body>
</html>