<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="img/Logo-iMentor1.png" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/productDetail-styles.css">
    <title>Product Detail</title>
</head>

<body>
    <header>
        <section class="navegacion">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <a href="/#" class="enlace-logo">
                    <img src="img/Logo-iMentor1.png" alt="Logo iMentor" class="logo">
                </a>
                <div class="buscar">
                    <input type="text" placeholder="Buscar" required>
                    <div class="btn">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <a href="/login" class="enlace-cuenta">
                    <i class="fas fa-user-circle"></i>
                </a>
                <a href="/productCart" class="enlace-cesta">
                    <i class="fas fa-shopping-basket"></i>
                </a>
                <a href="#" class="enlace-pais">
                    <i class="fas fa-globe"></i>
                </a>
                <button class="boton-header-crear-cuenta" type="submit"><a href="/register">¡Crea tu
                        cuenta!</a></button>
                <button class="boton-header-ingresar" type="submit"><a href="/login">Ingresar</a></button>
                <ul>
                    <li><a class="active" href="/#">Home</a></li>
                    <li><a href="/productDetail">Servicios</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Plataforma</a></li>
                    <li class="cesta"><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></li>
                    <li class="crea-cuenta"><a href="/register">¡Crea tu cuenta!</a></li>
                    <li class="ingresar"><a href="/login">Ingresar</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>


        <div class="banner">
            <br> <br> <br> <br> <br> <br>
            <h1>¡Saber es poder!</h1>
            <br> <br> <br> <br> <br> <br>
        </div>
        <section class="contenedor sobre-servicios">
            <h2 class="titulo">Nuestros servicios</h2>
            <div class="contenedor-sobre-servicios">
                <img src="img/ilustracion1.svg" alt="Acá va una ilustracion .svg" class="ilustracion-sobre-servicios">
                <div class="contenido-textos">
                    <h3><span>1</span>Mentorías individuales</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil asperiores minus eaque quae id
                        illo rerum modi quos iste recusandae.</p>
                    <h3><span>2</span>Membresias</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil numquam nostrum molestias nisi?
                        Temporibus enim possimus velit at ipsum sunt.</p>
                    <h3><span>3</span>Gif Cards</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi iusto nesciunt optio
                        reprehenderit. Cum unde nostrum iste nesciunt quaerat!</p>
                </div>
            </div>
        </section>

        <section class="portafolio-mentorias">
            <div class="contenedor">
                <h2 class="titulo">Categorías</h2>

                <div class="galeria-mentorias">
                    <div class="imagen-mentorias">
                        <img src="img/desarrollo.jpg" alt="Acá se muestra la imagen de asesoría desarrollo">
                        <div class="hover-galeria">
                            <!--  <img class = "click-hover"src="img/click-icon.png" alt=""> -->
                            <!--   <P>Desarrollo Web</P> -->
                        </div>
                    </div>
                    <div class="rate-mentoria">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, nihil.</p>
                        <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <section class="buy-cart">
                            <article class="comprar-asesoria">
                                <h4>Precio: 40USD$</h4>
                                <button id="comprar" type="submit">
                                    <h3>comprar</h3>
                                </button>
                            </article>
                        </section>
                    </div>
                    <div class="imagen-mentorias">
                        <img src="img/design-thinking.jpg" alt="Acá se muestra la imagen de asesoría design thinking">
                        <div class="hover-galeria">
                            <!--  <img class = "click-hover"src="img/click-icon.png" alt=""> -->
                            <!--   <P>Design Thinking</P> -->
                        </div>
                    </div>
                    <div class="rate-mentoria">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, nihil.</p>
                        <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <section class="buy-cart">
                            <article class="comprar-asesoria">
                                <h4>Precio: 40USD$</h4>
                                <button id="comprar" type="submit">
                                    <h3>comprar</h3>
                                </button>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <section class="sobre-mentores">
            <div class="contenedor">
                <h2 class="titulo">Mentores</h2>
                <div class="mentores-cont">
                    <div class="cada-mentor">
                        <img src="img/mentor1.jpg" alt="">
                        <h3 class="nombre-mentor">Name</h3>
                        <h4>Especialidad</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, tenetur?</p>
                        <section class="contactar-cart">
                            <p class="reseña"><i class="fas fa-star"></i> Calificación</p>
                            <p class="reseña"><i class="fas fa-star"></i> Reseña</p>
                            <p class="reseña"><i class="fas fa-star"></i> Estudiantes</p>
                            <p class="reseña"><i class="fas fa-star"></i> Asesorías</p>
                            <p class="reseña"><i class="fas fa-star"></i> País</p>
                            <article class="comprar-asesoria">
                                <button id="Contactar" type="submit">
                                    <h3>Contactar</h3>
                                </button>
                            </article>
                        </section>
                    </div>
                    <div class="cada-mentor">
                        <img src="img/mentor2.jpg" alt="">
                        <h3 class="nombre-mentor">Name</h3>
                        <h4>Especialidad</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, tenetur?</p>
                        <section class="contactar-cart">
                            <p class="reseña"><i class="fas fa-star"></i> Calificación</p>
                            <p class="reseña"><i class="fas fa-star"></i> Reseña</p>
                            <p class="reseña"><i class="fas fa-star"></i> Estudiantes</p>
                            <p class="reseña"><i class="fas fa-star"></i> Asesorías</p>
                            <p class="reseña"><i class="fas fa-star"></i> País</p>
                            <article class="comprar-asesoria">
                                <button id="Contactar" type="submit">
                                    <h3>Contactar</h3>
                                </button>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="contenedor-clientes">

                <h2 class="titulo">¿Qué dicen nuestros clientes?</h2>
                <div class="cards">
                    <div class="card">
                        <img src="img/cliente1.jpg" alt="Foto del primer cliente">
                        <div class="contenido-texto-card">
                            <h4>Lorena Sacarías</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, facere.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/cliente2.jpg" alt="Foto del primer cliente">
                        <div class="contenido-texto-card">
                            <h4>Juan Carlos Gonzalez</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, at.</p>
                        </div>
                    </div>
                </div>

        </section>


    </main>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>

    <footer>
        <section class="contenedor-footer">
            <!--    <div class="logo">
              <img src="img/Logo-iMentor1.png" alt="">
            </div>  No puedo ajustar el logo al footer pm-->

            <div class="links">
                <ul class="servicios">
                    <h4>Servicios</h4>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
                <ul class="nosotros">
                    <h4>Nosotros</h4>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
                <ul class="contacto">
                    <h4>Contacto</h4>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
            </div>

            <div class="socialmedia">
                <h4>Síguenos en</h4>
                <div class="icons">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-youtube-square"></i>
                </div>

            </div>
            <div class="newsletter">
                <h4>Súmate en nuestro Newsletter</h4>
                <div class="terminos">
                    <input type="checkbox" name="terminos" id="terminos">
                    <label for="terminos">Acepto los términos y condiciones</label>
                </div>
                <form action="/newsletter" method="POST">
                    <input class="newsletterJoin" type="email" name="email" placeholder="tuemail@ejemplo.com">
                </form>
                <div class="suscription">
                    <button class="suscriptionbutton">Suscribirme</button>
                </div>
            </div>
        </section>
    </footer>

</body>

</html>