* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

/* Login Page Main*/

.banner{
    width: 100vw;
    height: 100vh;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner{
    0%, 20%{
        background-image: url(../img/banner1.jpg);
    }
    25%, 45%{
        background-image: url(../img/banner2.jpg);
    }
    50%, 70%{
        background-image: url(../img/banner3.jpg);
    }
    75%, 100%{
        background-image: url(../img/banner4.jpeg);
    }
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.caja-login{
    z-index: 1;
    width: 250px;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

main img {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
}

main .logo {
    display: flex;
    justify-content: center;
    background-color: rgb(217,217,217);
    margin: 5px 5px;
}

main p {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 15px;
}

main div.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
}

main .login-email, .login-password  {
    display: flex;
    width: 60%;
}

main .box-password, .box-email {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
    border: none;
}

main .login-email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px rgb(217,217,217) solid;
    margin: 6% 0%;
    padding: 2.5%;
    border-radius: 4px;
    width: 225px;
}

main .login-email i {
    width: 10%;
    margin-left: 1%;
    color: rgb(170,170,170);
    font-size: 17px;
}

main .login-password {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px rgb(217,217,217) solid;
    margin: 5% 0% 2% 0%;
    padding: 2.5%;
    border-radius: 4px;
    width: 225px;
}

main .login-password i {
    width: 10%;
    margin-left: 1%;
    color: rgb(170,170,170);
    font-size: 17px;
}

main .not-register, .password-forgotten {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    text-decoration: underline;
    padding-top: 4%;
}

main .login-button {
    padding: 1.4%;
    border-radius: 4px;
    border: 0;
    background-color: rgb(217,217,217);
    width: 100%;
    font-size: 11px;
    margin-top: 2%;
}

main .login-button a {
    text-decoration: none;
    color: #000;
}

main .login-button:hover {
    background-color: #3587A4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(217,217,217);
  }

main .references {
    display: block;
    justify-content: space-around;
}

main div.help {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 9.5px;
    text-decoration: underline;
}

main a.terms {
    font-size: 8.5px;
    color: black;
}

main .politics {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

main .end-img {
    display: flex;
    justify-content: center;
}

main .end-img img {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
}

main div.remember-me {
    font-size: 8.5px;
    align-items: center;
    display: flex;
}

main .remember-me label {
    margin-left: 5px;
}

/* Medias Queries */

@media (min-width: 769px){
    .banner{
        justify-content: right;
    }

    .caja-login{
        width: 35%;
        margin: 0px 60px 0px 0px;
    } 

    main p {
        font-size: 17px;
        margin-top: 3%;
    }

    main .login-email, main .login-password {
        width:29vw;
    }

    main .box-password, .box-email {
        margin: 2% 0% 1% 0%;
        font-size: 12px;
    }
    
    main .login-email {
        padding: 1.5%;
        margin: 4% 0%;
    }
    
    main .login-email i {
        font-size: 20px;
    }
    
    main .login-password {
        padding: 1.5%;
        margin: 4% 0%;
    }
    
    main .login-password i {
        font-size: 20px;
    }
    
    main .not-register, .password-forgotten {
        padding-top: 4%;
        font-size: 12px;
    }
    
    main .login-button {
        font-size: 13.5px;
        padding: 1%;
    
    }

    main div.help {
        font-size: 12px;
    }
    
    main a.terms {
        font-size: 9.5px;
    }

    main .politics {
        margin-top: 3%;
    }

    main div.remember-me {
        font-size: 9.5px;
    }
    
    main .remember-me label {
        margin-left: 5px;
    }
}