*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

/* Login Page Main*/

main {
    width: 100vw;
    height: 100vw;
}

main img {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7%;
}

main .logo {
    display: flex;
    justify-content: center;
}

main p {
    display: flex;
    justify-content: center;
    font-size: 8px;
    margin-top: 15px;
}

main div.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}

main .login-email, .login-password  {
    display: flex;
    width: 70vw;
}

main .box-password, .box-email {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-color: rgb(217,217,217);
    border-width: 1px;
    padding: 6px;
    margin: 10px;
    font-size: 9px;
    border-radius: 2px;
    width: 100%;
}

main .box-password::placeholder {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 600;
    content: "/f0e0";
}

main .box-email::placeholder {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 600;
    content: "/f023";
}

main .not-register, .password-forgotten {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 9px;
    text-decoration: underline;
}

main .references {
    display: flex;
    justify-content: space-around;
}

main .login-accept {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8%;
}

main .login-button {
    font-size: 9px;
    background-color: rgb(217,217,217);
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30%;
}

main .help {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 7px;
    text-decoration: underline;
}

main p.terms {
    margin-top: 10%;
}

main .end-img {
    display: flex;
    justify-content: center;
}

main .end-img img {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7%;
}