/*###GENERAL####*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}


.contenedor {
    padding: 30px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    /* esto hace que se centre todo el contenido y si algo se sale lo esconde*/
}

.titulo {
    color: #3587A4;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

/*ACÁ COMIENZA HEADER*/

header .navegacion nav{
    height: 90px;
    width: 100%;
    background-color: #3587A4;
    position: fixed;
    z-index: 1;
}

header .navegacion .enlace-logo{
    position: absolute;
    padding: 10px 0px;
}

header .navegacion .logo{
    height: 40px;
    margin-left: 10px;
}

header .navegacion .buscar{
    position: fixed;
    padding: 5px;
    top: 10px;
    left: 120px;
}

header .navegacion .buscar input{
    width:0px;
    height: 25px;
    padding: 0px 5px;
    font-size: 18px;
    color: black;
    outline: none;
    border: solid 1px silver;
    border-radius: 30px;
    transition: all 0.5s ease;
}

header .navegacion .buscar .btn{
    width: 33px;
    height: 33px;
    line-height: 33px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #88CCF1;
    text-align: center;
    color: black;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: solid 1px white;
}

header .navegacion .buscar:hover input{
    width:115px;
}

header .navegacion .buscar input:focus{
    width:115px;
}    

header .navegacion .enlace-cesta{
    position: fixed;
    padding: 10px 0px;
    right: 75px;
    width: 35px;
    text-align: center;
}

header .navegacion nav .enlace-cesta i{
    font-size: 30px;
    color: black;
}

header .navegacion nav ul .cesta{
    display: none;
}

header .navegacion nav ul .crea-cuenta, header .navegacion nav ul .ingresar{
    display: block;
}

header .navegacion .enlace-cuenta{
    position: fixed;
    padding: 10px 0px;
    right: 38px;
    width: 35px;
    text-align: center;
}

header .navegacion nav .enlace-cuenta i{
    font-size: 30px;
    color: black;
}

header .navegacion .enlace-pais{
    position: fixed;
    padding: 10px 0px;
    right: 5px;
    width: 35px;
    text-align: center;
}

header .navegacion nav .enlace-pais i{
    font-size: 30px;
    color: black;
}


header .navegacion nav ul{
    position: fixed;
    width: 100vW;
    height: calc(100vh - 180px);
    background-color: #C1DFF0;
    top: 90px;
    left: -100vw;
    text-align: center;
}

header .navegacion nav ul li{
    display: block;
    line-height: 10px;
    margin: 44px 0px;
}

header .navegacion nav ul li a{
    color: black;
    font-size: 20px;
    padding: 5px 13px;
    border-radius: 3px;
}

header .navegacion nav ul li a:hover{
    color: white;
}

header .navegacion nav .checkbtn{
    font-size: 25px;
    color: black;
    position: fixed;
    right: 8px;
    line-height: 80px;
    cursor: pointer;
    display: block;
    top: 33px;
} 

header .navegacion nav #check{
    display: none;
}

header .navegacion nav #check:checked ~ ul{
    left:0%;
}

header .boton-header-crear-cuenta a, header .boton-header-ingresar a{
    color: white;
    font-size: 12px ;
}

header .boton-header-crear-cuenta, header .boton-header-ingresar{
    display: none;
    text-decoration: none;
    background-color: #88CCF1;
    padding: 2px 6px 2px 6px;
    border: 0px solid white;
    border-radius: 8px;
}

header .boton-header-crear-cuenta:hover{
    background-color: #C1DFF0;
    color: black;
}

header .boton-header-ingresar:hover{
    background-color: #C1DFF0;
    color: black;
}

/*TERMINA EL HEADER*/


    main .banner {
        /* The image used */
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://cdn.shrm.org/image/upload/c_crop%2ch_705%2cw_1254%2cx_0%2cy_15/c_fit%2cf_auto%2cq_auto%2cw_767/v1/Employee%20Relations/iStock-1266809682_lflvjj?databtoa=eyIxNng5Ijp7IngiOjAsInkiOjE1LCJ4MiI6MTI1NCwieTIiOjcyMCwidyI6MTI1NCwiaCI6NzA1fX0%3d);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;}
    
    main img.banner {  min-height: 100%;
        min-width: 1024px;
    }
    
    main .banner-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
      
      main h1 {
        color:  white;
        text-align: center;
      }
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*####Section sobre servicios#####*/

main .sobre-servicios {
    padding: 25px 0 50px 0;
}

.sobre-servicios .titulo {
    padding-top: 80px;
}
.contenedor-sobre-servicios {
    display: flex;
    justify-content: space-evenly;
}

.ilustracion-sobre-servicios {
    width: 40%;
}

.sobre-servicios .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
    cursor: pointer;
    

}

.contenido-textos h3 span {
    background: #2D848A;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

.contenido-textos p {
    padding: 0px 0px 30px 0px;
    font-weight: 300;
    text-align: justify;
}


/*####Galería de mentores#####*/

.portafolio-mentorias {
    background: #f2f2f2;
    transition-duration: 400ms;
    justify-content: center;
    align-items: center;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
    color: goldenrod;
}


.galeria-mentorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition-duration: 400ms;

}

.rate-mentoria p {
    font-weight: 300;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}


/*##################################################*/
/*Boton comprar asesoria por tema*/

article .comprar-asesoria {
    justify-content: center;
    align-items: center;
}

.buy-cart .comprar-asesoria button {
    margin: 5px 5px;
    border-radius: 5px;
    width: 50%;
    color: #f2f2f2;
    background-color: #2D848A;
    cursor: pointer;
    justify-content: center;
}

.comprar-asesoria #adquirir:hover {
    background-color: #2D848A;
    transition: all 100ms;
}

.comprar-asesoria #adquirir {
    justify-content: center;
}

/*##################################################*/

.imagen-mentorias {
    width: 30%;
    margin-bottom: 10px;
    overflow: hidden;
    /**/
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 9px 0 rgb(0, 0, 0, .5);

}

.imagen-mentorias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    /*Esto es para agrupar las dos imagenes una encima de la otra, quiero hacer que cuando se haga hover el click aparezca arriba*/
    width: 100%;
    height: 100%;
    top: 0;
    /*Esto hace que la imagen del click se ubique encima de la otrA*/
    background: rgba(121, 127, 129, 0.13);
    transition: opacity .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hover-galeria img {
    width: 60px;
    height: 60px;
}

/*.hover-galeria p {
    color: whitesmoke;
    font-weight: 500;
} */

.hover-galeria:hover {
    opacity: 0;
}



/*####Que dicen nuestros clientes####*/

.contenedor-clientes {
    background: #f2f2f2;
    padding-bottom: 80px;

}

.contenedor-clientes h2 {
    padding-top: 10px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #3587A4;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
}



.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /*La imagen de los clientes al hacerla pequeña se distorsionó, esto adaptó la imagen de los clientes al cuadrito*/
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card .contenido-texto-card {
    width: 60%;
    color: white;
}


.cards .card .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}


/*##Section Mentores##*/

.sobre-mentores {
    display: flex;
    background: white;
    position: relative;
    justify-content: space-between;


}

.mentores-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.cada-mentor {
    width: 28%;
    height: 60%;
    text-align: left;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin: 0 10px;



}

.cada-mentor img {
    width: 70%;
    height: 10%;


}

.cada-mentor .nombre-mentor {
    margin: 10px 0px 0px 0px;
    color: #3587A4;


}

.cada-mentor p {
    font-weight: 300;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;

}

.cada-mentor #Contactar {
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
}

.cada-mentor h3 {
    text-decoration: underline;
    text-decoration-color: #3587A4;
    padding-left: 5px;
    padding-right: 5px;
}


/*Boton contactar mentor*/
.cada-mentor .contactar-cart .comprar-asesoria button {
    margin: 5px 5px;
    border-radius: 5px;
    width: 50%;
    color: #f2f2f2;
    background-color: #2D848A;
    cursor: pointer;

}


.cada-mentor .contactar-cart .comprar-asesoria .button #contactar:hover {
    background-color: #2D848A;
    transition: all 100ms;
}

.cada-mentor .contactar-cart .comprar-asesoria .button #contactar {
    display: flex;
    justify-content: space-around;
}

.cada-mentor .contactar-cart .comprar-asesoria #Contactar {
    justify-content: center;
    align-items: center;
    display: content;
}

/*Footer**/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 8px;
    background-color: rgb(217,217,217);
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0px;
    padding: 10px 0px;
    z-index: 1;
}

footer .links h4 {
    display: none;
}

footer .links li {
  display: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 5px;
}

footer ul li a{
    text-decoration: none;
    color: #000;
}

footer .newsletterJoin {
    width: 80%;
    border: 0;
    margin-top: 2%;
    padding: 1%
  }

  footer .socialmedia, .newsletter {
    width: 50%;
    
}

footer .suscriptionbutton {
    font-size: 7px;
 }

 footer .newsletterJoin {
    font-size: 7px;
 }

 footer .terminos {
    display: flex;
    flex-direction: row;
    font-size: 7px;
    align-items: center;
    margin: 2% 0%;
    border-radius: 2px;
  }
  
  footer .suscription {
    display: flex;
    justify-content: center;
    margin: 3% 0%;
  }

  footer .suscriptionbutton {
      padding: 1% 3%;
      border-radius: 4px;
      border: 0;
      font-size: 8px;
      background-color: grey;
  }

 footer .suscriptionbutton:hover {
    background-color: #3587A4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(217,217,217);
  }

footer .socialmedia h4 {
  text-align: center;
  font-weight: bold;
}

footer .newsletter h4 {
    font-weight: bold;
    text-align: left;
  }

footer .socialmedia .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2%;
    width: 60%;
    margin-left: 20%;
    font-size: 15px;
}

footer .socialmedia .icons a {
  text-decoration: none;
  color: #000;
} 

/*en tablets el diseño se ve bien, comienzo a trabajar esta media query para dispositivos menores a 500px*/
/*AC+A COMIENZAN LAS MEDIAS QUERYS*/

@media screen and (max-width: 700px) {

    .contenedor-sobre-servicios {
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .sobre-servicios .contenido-textos {
        width: 90%;
    }


    .titulo {
        font-size: 28px;
    }

    .contenedor-clientes .titulo {
        font-size: 28px;
        padding-top: 30px;

    }

    /*Section galeria de mentorias*/
    .imagen-mentorias {
        width: 44%;
    }

    /*Section galeria de mentorias*/

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
        font-size: 12px;
    }

    .cards .card:first-child {
        margin-bottom: 30px;
    }

    .mentores-cont {
        justify-content: center;
        flex-direction: column;
    }

    .cada-mentor {
        width: 100%;
        text-align: center;

    }

    .cada-mentor:nth-child(1),
    .cada-mentor:nth-child(2),
    .cada-mentor:nth-child(3) {
        margin-bottom: 60px;
    }

    .cada-mentor img {
        width: 90%;

    }

}

@media screen and (max-width: 500px) {

    .titulo {
        font-size: 28px;
    }

    .ilustracion-sobre-servicios {
        width: 99%;
        margin-bottom: 60px;
    }

    .sobre-servicios .contenido-textos {
        width: 92%;
    }

    .imagen-mentorias {
        width: 95%;
    }

    /*clientes*/

    .cards .card {
        width: 95%;
        height: 100px;

    }

    .cada-mentor img {
        width: 95%;
    }

    .contenedor-clientes .titulo {
        font-size: 24px;
        text-align: center;
    }


}

@media (min-width: 361px) {
    header .navegacion nav {
        height: 70px;
    }

    header .navegacion nav ul {
        position: fixed;
        width: 100%;
        height: 25px;
        top: 45px;
        float: right;
        background-color: #3587A4;
        left: 0%;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
    }

    header .navegacion nav ul li {
        display: inline-flex;
        margin: 0px 5px;
    }

    header .navegacion nav ul .cesta,
    header .navegacion nav ul .crea-cuenta,
    header .navegacion nav ul .ingresar {
        display: none;
    }

    header .navegacion nav ul li a {
        font-size: 16px;
        padding: 0px;
    }

    header .navegacion nav .checkbtn {
        display: none;
    }

    header .navegacion .buscar:hover input {
        width: 33vw;
    }

    header .navegacion .buscar input:focus {
        width: 33vw;
    }

    main .banner {
        height: 100%;

    }

    main h1 {
        font-size: 45px;

    }

    footer h4 {
        font-size: 9px;
      }
    
      footer .socialmedia .icons {
        width: 60%;
        margin-left: 20%;
        font-size: 18px;
    }
    
        footer .newsletterJoin {
          width: 90%;
        }
    
        footer .mail-button {
          display: flex;
          align-items: center;
          width: 100%;
          margin: 0px;
          padding: 0px;
        }
    
        footer form {
          width: 70%;
        }
    
        footer .suscriptionbutton {
          padding: 2% 10%;
          font-size: 8px;
      }
    
          footer .newsletterJoin {
            font-size: 8px;
            margin-top: 0%;
        }
    
        footer .terminos {
          font-size: 7.5px;
          margin: 3% 1% 0% 0%;
        }


}

@media (min-width: 769px) {
    header .navegacion nav .checkbtn {
        display: none;
    }

    header .navegacion nav ul li a {
        font-size: 22px;
    }

    header .navegacion nav ul .cesta {
        display: block;
    }

    header .navegacion nav .enlace-cesta {
        display: none;
    }

    .boton-header-crear-cuenta {
        display: block;
        position: fixed;
        padding: 0px;
        top: 10px;
        right: 150px;
        width: 120px;
        text-align: center;
        cursor: pointer;
    }

    .boton-header-ingresar {
        display: block;
        position: fixed;
        padding: 0px;
        top: 10px;
        right: 76px;
        width: 70px;
        text-align: center;
        cursor: pointer;
    }

    header .navegacion .buscar:hover input {
        width: 45vw;
    }

    header .navegacion .buscar input:focus {
        width: 45vw;
    }

    main h1 {
        font-size: 75px;

    }

    footer .links h4 {
        display: block;
        margin-bottom: 4%;
    }
  
    footer .links li {
      display: block;
    }
  
    footer .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    footer div.links, div.socialmedia {
      width: 30%;
    }
  
    footer .links-utiles, .comunidad {
      width: 40%;
      display: flex;
      flex-direction: column;
    }
  
    footer .newsletter {
      width: 40%;
    }
  
    footer h4 {
      font-size: 10px;
    }
  
    footer ul {
      font-size: 9px;
    }
  
    footer  .icons {
      width: 50%;
      font-size: 10px;
      display: flex;
      flex-direction: row;
    }
  
    footer div.icons {
      width: 50%;
      margin-left: 0%;
      font-size: 30px;
  }
  
  footer .socialmedia h4 {
    text-align: center;
  }
  
  footer .suscriptionbutton {
    font-size: 8px;
    margin: 0;
  }
  
  footer .newsletterJoin {
    font-size: 9px;
    margin: 0px;
  }
  
  footer .terminos {
    font-size: 8.5px;
    margin: 0% 0%;
    margin-top: 1%;
    border-radius: 2px;
  }
  
  footer .suscriptionbutton {
    padding: 5% 10%;
    font-size: 9px;
    margin: 0px;
  }
}



@media only screen and (min-width: 380px) {

    main .prev,
    main .next,
    main .text {
        font-size: 14px
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }


}