/*###GENERAL####*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans";

}

.contenedor {
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; /* esto hace que se centre todo el contenido y si algo se sale lo esconde*/
}

.titulo {
    color: #3587A4;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}


/*#####header######*/

header {
    width: 100%;
    height: 600px;
   background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(188, 39%, 49%, 0.123), #2C3E50), url(../img/Asesoría.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, hsla(188, 39%, 49%, 0.123), #2C3E50), url(../img/Asesoría.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}

.logo-header .logo  {
    height: 70px;
    margin-left: 10px;
}

nav {
    text-align: right;
    padding: 30px 50px 0px 0px;
}

nav a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;

}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: white;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: white;
}

/*####Section sobre servicios#####*/

main .sobre-servicios {
 padding: 25px 0 60px 0;
}

.contenedor-sobre-servicios{
    display: flex;
    justify-content: space-evenly;
}

.ilustracion-sobre-servicios{
    width: 48%;


}

.sobre-servicios .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;

}

.contenido-textos h3 span {
    background: #2D848A;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

.contenido-textos p {
    padding: 0px 0px 30px 0px;
    font-weight: 300;
    text-align: justify;
}


/*####Galería de mentores#####*/

.portafolio-mentorias {
    background: #f2f2f2;
}

.galeria-mentorias{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imagen-mentorias {
    width: 30%;
    margin-bottom: 10px;
    overflow: hidden; /**/
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);

}

.imagen-mentorias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute; /*Esto es para agrupar las dos imagenes una encima de la otra, quiero hacer que cuando se haga hover el click aparezca arriba*/
    width: 100%;
    height: 100%;
    top: 0; /*Esto hace que la imagen del click se ubique encima de la otrA*/
    background: rgba(13, 58, 75, 0.473);
    transition: opacity .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.hover-galeria img {
    width: 60px;
    height: 60px;
}

/*.hover-galeria p {
    color: whitesmoke;
    font-weight: 500;

} */

.hover-galeria:hover {
    opacity: 0;
}



/*####Que dicen nuestros clientes####*/

.contenedor-clientes{
    background: #f2f2f2;

}

.contenedor-clientes h2 {
    padding-top: 10px;
}
.cards{
    display: flex;
    justify-content: space-evenly;  
    }

    .cards .card {
        background: #3587A4;
        display: flex;
        width: 46%;
        height: 200px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    }



    .cards .card img {
        width: 100px;
        height: 100px;
        object-fit: cover; /*La imagen de los clientes al hacerla pequeña se distorsionó, esto adaptó la imagen de los clientes al cuadrito*/
        border: 3px solid white;
        border-radius: 50%;
        display: block;
    }

    .cards .card .contenido-texto-card {
        width: 60%;
        color: white;
    }


    .cards .card .contenido-texto-card p {
        font-weight: 300;
        padding-top: 5px;
    }


    /*##Section Mentores##*/

    .sobre-mentores {
        background: white;
        padding-bottom: 30px;
    }

    .mentores-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .cada-mentor {
        width: 28%;
        text-align: center;

    }

    .cada-mentor img {
        width: 90%;
       
    }

    .cada-mentor h3 {
       margin: 10px 0px;
       
    }

    .cada-mentor p {
        font-weight: 300;
        text-align: justify;
        
     }

     /*en tablets el diseño se ve bien, comienzo a trabajar esta media query para dispositivos menores a 500px*/
     
     
     @media screen and (max-width: 700px){
         header {
             background-position: center;
         }

         .contenedor-sobre-servicios {
            flex-direction: column;
            justify-content: center;
            align-items: center;


         }

         .sobre-servicios .contenido-textos {
             width: 90%;
         }

         .ilustracion-sobre-servicios {
             width: 90%;
         }

         .titulo{ 
            font-size: 28px;
         }
         
        .contenedor-clientes .titulo{ 
            font-size: 28px;
            padding-top: 30px;
         }
         .textos-header h1 {
            font-size: 40px;
         }

         /*Section galeria de mentorias*/
         .imagen-mentorias{
            width: 44%;
         }

         /*Section galeria de mentorias*/

         .cards{
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }
         .cards .card {
             width: 90%;
             font-size: 12px;
         }

         .cards .card:first-child {
            margin-bottom: 30px;
        }

        .mentores-cont {
            justify-content: center;
            flex-direction: column;
       }

       .cada-mentor {
           width: 100%;
           text-align: center;

       }
       .cada-mentor:nth-child(1), .cada-mentor:nth-child(2), .cada-mentor:nth-child(3){
           margin-bottom: 60px;
       }

       .cada-mentor img {
        width: 90%;
       
    }
     }

     @media screen and (max-width: 500px)
{
    nav{
        text-align: center;
        padding: 30px 0 0 0;

    }
    .nav .a {
        margin-right: 5px;
    }

    .textos-header h1 {
        font-size: 30px;
     }

     .textos-header h2 {
        font-size: 20px;
     }

     .ilustracion-sobre-servicios {
        width: 99%;
        margin-bottom: 60px;
    }

    .sobre-servicios .contenido-textos {
        width: 92%;
    }
    .imagen-mentorias {
        width: 95%;
    }

    /*clientes*/

    .cards .card{
        width: 95%;
        height: 100px;

    }
    .cada-mentor img {
        width: 95%;
    }

}




