* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li a{
    text-decoration: none;
    color: #000;
}

footer .newsletterJoin .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 10%;s
}