* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

/*Header*/

header .navegacion nav {
    height: 90px;
    width: 100%;
    background-color: #3587A4;
    position: fixed;
    z-index: 1;
}

header .navegacion .enlace-logo {
    position: absolute;
    padding: 10px 0px;
}

header .navegacion .logo {
    height: 40px;
    margin-left: 10px;
}

header .navegacion .buscar {
    position: fixed;
    padding: 5px;
    top: 10px;
    left: 120px;
}

header .navegacion .buscar input {
    width:0px;
    height: 25px;
    padding: 0px 5px;
    font-size: 18px;
    color: black;
    outline: none;
    border: solid 1px silver;
    border-radius: 30px;
    transition: all 0.5s ease;
}

header .navegacion .buscar .btn {
    width: 33px;
    height: 33px;
    line-height: 33px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #88CCF1;
    text-align: center;
    color: black;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: solid 1px white;
}

header .navegacion .buscar:hover input {
    width:115px;
}

header .navegacion .buscar input:focus {
    width:115px;
}    

header .navegacion .enlace-cesta {
    position: fixed;
    padding: 10px 0px;
    right: 75px;
    width: 35px;
    text-align: center;
}

header .navegacion nav .enlace-cesta i {
    font-size: 30px;
    color: black;
}

header .navegacion nav ul .cesta {
    display: none;
}

header .navegacion nav ul .crea-cuenta, header .navegacion nav ul .ingresar {
    display: block;
}

header .navegacion .enlace-cuenta {
    position: fixed;
    padding: 10px 0px;
    right: 38px;
    width: 35px;
    text-align: center;
}

header .navegacion nav .enlace-cuenta i {
    font-size: 30px;
    color: black;
}

header .navegacion .enlace-pais {
    position: fixed;
    padding: 10px 0px;
    right: 5px;
    width: 35px;
    text-align: center;
}

header .navegacion nav .enlace-pais i {
    font-size: 30px;
    color: black;
}

header .navegacion nav ul {
    position: fixed;
    width: 100vW;
    height: calc(100vh - 180px);
    background-color: #C1DFF0;
    top: 90px;
    left: -100vw;
    text-align: center;
}

header .navegacion nav ul li {
    display: block;
    line-height: 10px;
    margin: 44px 0px;
}

header .navegacion nav ul li a {
    color: black;
    font-size: 20px;
    padding: 5px 13px;
    border-radius: 3px;
}

header .navegacion nav ul li a:hover {
    color: white;
}

header .navegacion nav .checkbtn {
    font-size: 25px;
    color: black;
    position: fixed;
    right: 8px;
    line-height: 80px;
    cursor: pointer;
    display: block;
    top: 33px;
} 

header .navegacion nav #check {
    display: none;
}

header .navegacion nav #check:checked ~ ul {
    left:0%;
}

header .boton-header-crear-cuenta a, header .boton-header-ingresar a {
    color: white;
    font-size: 12px ;
}

header .boton-header-crear-cuenta, header .boton-header-ingresar {
    display: none;
    text-decoration: none;
    background-color: #88CCF1;
    padding: 2px 6px 2px 6px;
    border: 0px solid white;
    border-radius: 8px;
}

header .boton-header-crear-cuenta:hover {
    background-color: #C1DFF0;
    color: black;
}

header .boton-header-ingresar:hover {
    background-color: #C1DFF0;
    color: black;
}


/* Register Page Main*/

main .banner-register {
    position: relative;
    top: 90px;
    bottom: 90px;
    width: 100%;
}

main .banner-register h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 19px;
}

main .banner-register p {
    display: flex;
    justify-content: center;
    font-size: 9px;
    padding-top: 7px;
}

main .banner-register img {
    display: none;
}

main  form.register-form {
    display: flex;
    flex-wrap: wrap;
    font-size: 9px;
    flex-direction: column;
    padding: 1% 0% 0% 10%;
}

main .register-username, .register-email, .register-password, .register-birth {
    margin: 4.5% 0%;
}

main .register-form .boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    border-color: rgb(217,217,217);
    border-width: 1px;
    font-size: 8.5px;
    padding: 1.5%;
    border-radius: 5px;
    margin-top: 1.5%;
}

main .banner-register form i {
    font-size: 12px;
    color: #3587A4;
    margin-right: 2%;
}

main .box-register .terminos {
    display: flex;
    flex-direction: row;
    font-size: 8.5px;
    align-items: center;
    padding: 4% 0% 0% 0%;
}

main .box-register .show-password {
    display: flex;
    font-size: 7px;
    align-items: center;
    margin-top: 2%;
}

main .box-register .register-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 1.5%;
    font-size: 10px;
    background-color: rgb(217,217,217);
    border-radius: 4px;
    padding: 1% 3%;
    border: 0;
    width: 70%;
}

main .box-register .register-button a {
    text-decoration: none;
    color: #000;
}

main .box-register .register-button:hover {
    background-color: #3587A4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(217,217,217);
}

main .box-register .already-register {
    padding-top: 4px;
    display: flex;
    justify-content: center;
    font-size: 8.5px;
    text-decoration: underline;
    margin-bottom: 15%;
}


/*Footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 8px;
    background-color: rgb(217,217,217);
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0px;
    padding: 10px 0px;
    z-index: 1;
}

footer .links h4 {
    display: none;
}

footer .links li {
  display: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 5px;
}

footer ul li a{
    text-decoration: none;
    color: #000;
}

footer .newsletterJoin {
    width: 80%;
    border: 0;
    margin-top: 2%;
    padding: 1%
}

footer .socialmedia, .newsletter {
    width: 50%;
}

footer .suscriptionbutton {
    font-size: 7px;
}

footer .newsletterJoin {
    font-size: 7px;
}

footer .terminos {
    display: flex;
    flex-direction: row;
    font-size: 7px;
    align-items: center;
    margin: 2% 0%;
    border-radius: 2px;
}
  
footer .suscription {
    display: flex;
    justify-content: center;
    margin: 3% 0%;
}

footer .suscriptionbutton {
    padding: 1% 3%;
    border-radius: 4px;
    border: 0;
    font-size: 8px;
    background-color: grey;
}

footer .suscriptionbutton:hover {
    background-color: #3587A4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(217,217,217);
}

footer .socialmedia h4 {
    text-align: center;
}

footer .socialmedia .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2%;
    width: 60%;
    margin-left: 20%;
    font-size: 15px;
}

footer .socialmedia .icons a {
    text-decoration: none;
    color: #000;
}

/*###############################################################*/

/*Media Queries*/

@media (min-width: 361px){

    /* Header Media Queries (min-width: 361px)*/

    header .navegacion nav {
        height: 70px;
    }

    header .navegacion nav ul {
        position: fixed;
        width: 100%;
        height: 25px;
        top: 45px;
        float: right;
        background-color: #3587A4;
        left: 0%;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
    }

    header .navegacion nav ul li {
        display: inline-flex;
        margin: 0px 5px;
    }

    header .navegacion nav ul .cesta, header .navegacion nav ul .crea-cuenta, header .navegacion nav ul .ingresar{
        display: none;
    }

    header .navegacion nav ul li a {
        font-size: 16px;
        padding: 0px;
    }

    header .navegacion nav .checkbtn {
        display: none;
    }
    
    header .navegacion .buscar:hover input {
        width:33vw;
    }
    
    header .navegacion .buscar input:focus {
        width:33vw;
    }  

    /* Register Page Main Media Queries (min-width: 361px)*/

    main .banner-register {
        top: 70px;
    }

    main .banner-register {
        position: relative;
        display: flex;
        width: 100vw;
        height: 100vw;
    }
    
    main .background-register {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    main .box-register {
        position: absolute;
        width: 300px;
        justify-content: center;
        background-color: white;
        border-radius: 5px;
        margin-left: 3%;
        margin-top: 3%;
    }

    main .banner-register img {
        display: block;
        width: 100vw;
        top: 70px;
        bottom: 90px;
    }
   
    main .banner-register h3 {
        font-size: 15px;
        padding-top: 10px;
    }

    main .banner-register p {
        font-size: 9px;
    }

    main form.register-form {
        padding: 0% 0% 0% 10%;
    }

    main .register-username, .register-email, 
    .register-password, .register-birth {
        font-size: 9px;
        margin: 2.5% 0%;
    }

    main .register-form .boxes {
        display: flex;
        font-size: 8px;
        padding: 1%;
        margin-top: 1%;
        width: 60%;
    }

    main .box-register .terminos {
        font-size: 9px;
    }

    main .box-register .show-password {
        font-size: 8px;
    }

    main .box-register .register-button {
        font-size: 11px;
        width: 60%;
    }

    main .box-register .already-register {
        font-size: 9px;
        padding-top: 10px;
    }

    /* Footer Media Queries (min-width: 361px)*/

    footer h4 {
        font-size: 9px;
    }
    
    footer .socialmedia .icons {
        width: 60%;
        margin-left: 20%;
        font-size: 18px;
    }
    
    footer .newsletterJoin {
        width: 90%;
    }
    
    footer .mail-button {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    footer form {
        width: 70%;
    }
    
    footer .suscriptionbutton {
        padding: 2% 10%;
        font-size: 8px;
    }
    
    footer .newsletterJoin {
        font-size: 8px;
        margin-top: 0%;
    }
    
    footer .terminos {
        font-size: 7.5px;
        margin: 3% 1% 0% 0%;
    }

}

@media (min-width: 769px){

    /* Header Media Queries (min-width: 769px)*/

    header .navegacion nav .checkbtn{
        display: none;
    }

    header .navegacion nav ul li a{
        font-size: 22px;
    }

    header .navegacion nav ul .cesta{
        display: block;
    }

    header .navegacion nav .enlace-cesta {
        display: none;
    }

    header .boton-header-crear-cuenta, header .boton-header-ingresar
        
    header .boton-header-crear-cuenta{
        display: inline-block;
        position: fixed;
        padding: 0px;
        top: 10px;
        right: 150px;
        width: 120px;
        text-align: center;
        cursor: pointer;
    }

    header .boton-header-ingresar{
        display: inline-block;
        position: fixed;
        padding: 0px;
        top: 10px;
        right: 76px;
        width: 70px;
        text-align: center;
        cursor: pointer;
    }

    header .navegacion .buscar:hover input{
        width:45vw;
    }
    
    header .navegacion .buscar input:focus{
        width:45vw;
    }

    /* Register Page Main Media Queries (min-width: 769px)*/

    main .banner-register h3 {
        font-size: 27px;
        padding-top: 7px;
    }

    main .banner-register p {
        font-size: 14px;
    }

    main form.register-form {
        padding: 0% 0% 0% 10%;
    }

    main .register-username, .register-email, .register-password, .register-birth {
        font-size: 13px;
        margin: 3% 0%;
    }

    main .register-form .boxes {
        font-size: 11.5px;
        padding: 1%;
        margin-top: 1%;
        margin-right: 2%;
        width: 50%;
    }

    main .box-register .terminos {
        font-size: 11px;
        padding: 0.5% 0% 0% 0%;
    }

    main .box-register .show-password {
        font-size: 10px;
    }

    main .box-register .box-showpassword {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    main .box-register .register-button {
        font-size: 13px;
        padding: 0.5% 2%;
        width: 50%;
    }

    main .box-register .already-register {
        font-size: 11px;
        padding-top: 6px;
    }

    main .box-register form i {
        font-size: 14px;
        margin-right: 1%;
    }

    /* Footer Media Queries (min-width: 769px)*/

    footer .links h4 {
        display: block;
        margin-bottom: 4%;
    }
  
    footer .links li {
        display: block;
    }
  
    footer .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
  
    footer div.links, div.socialmedia {
        width: 30%;
    }
  
    footer .links-utiles, .comunidad {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
  
    footer .newsletter {
        width: 40%;
    }
  
    footer h4 {
        font-size: 10px;
    }
  
    footer ul {
        font-size: 9px;
    }
  
    footer  .icons {
        width: 50%;
        font-size: 10px;
        display: flex;
        flex-direction: row;
    }
  
    footer div.icons {
        width: 50%;
        margin-left: 0%;
        font-size: 30px;
    }
  
    footer .socialmedia h4 {
        text-align: center;
    }
  
    footer .suscriptionbutton {
        font-size: 8px;
        margin: 0;
    }
  
    footer .newsletterJoin {
        font-size: 9px;
        margin: 0px;
    }
  
    footer .terminos {
        font-size: 8.5px;
        margin: 0% 0%;
        margin-top: 1%;
        border-radius: 2px;
    }
  
    footer .suscriptionbutton {
        padding: 5% 10%;
        font-size: 9px;
        margin: 0px;
    }
    
}
