<!-- views/partials/footer.ejs -->

<footer>
    <div class="links">
        <ul class="links-utiles">
            <h4>LINKS ÚTILES</h4>
            <li><a href="/paginaEnConstruccion">Beneficios</a></li>
            <li><a href="/paginaEnConstruccion">Trabajá con nosotros</a></li>
            <li><a href="/paginaEnConstruccion">Contacto</a></li>
        </ul>
        <ul class="comunidad">
            <h4>NOSOTROS</h4>
            <li><a href="/paginaEnConstruccion">Webinars</a></li>
            <li><a href="/paginaEnConstruccion">Blog</a></li>
            <li><a href="/paginaEnConstruccion">Sobre iMentor</a></li>
        </ul>
    </div>
    <div class="socialmedia">
      <h4>Síguenos en</h4>
      <div class="icons">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
          <a href="https://ar.linkedin.com/"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.youtube.com/?gl=AR&hl=es-419"><i class="fab fa-youtube-square"></i></a>
      </div>
    </div>
    <div class="newsletter">
      <h4>Súmate al Newsletter</h4>
      <div class="terminos">
          <input type="checkbox" name="terminos" id="terminos">
          <label for="terminos">Acepto los términos y condiciones</label>
      </div>
      <div class="mail-button">
          <form action="/newsletter" method="POST">
            <input class="newsletterJoin" type="email" name="email" placeholder="tuemail@ejemplo.com">
          </form>
          <div class="suscription">
            <button class="suscriptionbutton">Suscribirme</button>
        </div>
      </div>
    </div>
</footer>