<!-- views/partials/footer.ejs -->

<footer>
    <div class="links">
        <ul class="links-utiles">
            <h4>LINKS ÚTILES</h4>
            <li><a href="/#beneficios">Beneficios</a></li>
            <li><a href="/users/mentorregister">Trabajá con nosotros</a></li>
            <li><a href="/paginaEnConstruccion">Contacto</a></li>
        </ul>
        <ul class="comunidad">
            <h4>NOSOTROS</h4>
            <li><a href="/paginaEnConstruccion">Sobre iMentor</a></li>
        </ul>
    </div>
    <div class="socialmedia">
      <h4>Síguenos en</h4>
      <div class="icons">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
          <a href="https://ar.linkedin.com/"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.youtube.com/?gl=AR&hl=es-419"><i class="fab fa-youtube-square"></i></a>
      </div>
    </div>
</footer>