<!-- views/partials/footer.ejs -->

<footer>
    <div class="links">
        <ul class="links-utiles">
            <h4>LINKS ÚTILES</h4>
            <li><a href="/beneficios">Beneficios</a></li>
            <li><a href="/formulario-trabajo">Trabajá con nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
        <ul class="comunidad">
            <h4>NOSOTROS</h4>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/iMentor-historia">Sobre iMentor</a></li>
        </ul>
    </div>
    <div class="socialmedia">
      <h4>Síguenos en</h4>
      <div class="icons">
          <a href="/facebook"><i class="fab fa-facebook-square"></i></a>
          <a href="/twitter"><i class="fab fa-twitter-square"></i></a>
          <a href="/instagram"><i class="fab fa-instagram-square"></i></a>
          <a href="/linkedin"><i class="fab fa-linkedin"></i></a>
          <a href="/youtube"><i class="fab fa-youtube-square"></i></a>
      </div>
    </div>
    <div class="newsletter">
      <h4>Súmate al Newsletter</h4>
      <div class="terminos">
          <input type="checkbox" name="terminos" id="terminos">
          <label for="terminos">Acepto los términos y condiciones</label>
      </div>
      <div class="mail-button">
          <form action="/newsletter" method="POST">
            <input class="newsletterJoin" type="email" name="email" placeholder="tuemail@ejemplo.com">
          </form>
          <div class="suscription">
            <button class="suscriptionbutton">Suscribirme</button>
        </div>
      </div>
    </div>
</footer>