<!-- views/partials/header.ejs -->

<header>
    <section class="navegacion">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/" class="enlace-logo">
                <img src="/img/Logo-iMentor1.png" alt="Logo iMentor" class="logo">
            </a>
            <div class="buscar">
                <input type="text" placeholder="Buscar" required>
                <div class="btn">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <% if(!locals.isLogged) { %>
                <a href="#" class="enlace-pais">
                    <i class="fas fa-globe"></i>
                </a>
                <a href="/products/productCart" class="enlace-cesta">
                    <i class="fas fa-shopping-basket"></i>
                </a>
                <a href="/users/login" class="enlace-cuenta">
                    <i class="fas fa-user-circle"></i>
                </a>
                <button class="boton-header-crear-cuenta" type="submit"><a href= "/users/register">¡Crea tu cuenta!</a></button>
                <button class="boton-header-ingresar" type="submit"><a href= "/users/login">Ingresar</a></button>
                <ul>
                    <li><a class="active" href = "/">Home</a></li>
                    <li><a href = "/products/productServices">Servicios</a></li>
                    <li><a href = "/products">Mentorias</a></li>
                    <li><a href = "/paginaEnConstruccion">Enseña en iMentor</a></li>
                    <li class="cesta"><a href = "/products/productCart"><i class="fas fa-shopping-basket"></i></a></li>
                    <li class="crea-cuenta"><a href = "/users/register">¡Crea tu cuenta!</a></li>
                    <li class="ingresar"><a href = "/users/login">Ingresar</a></li>
                </ul>
            <% } else { %>
                <% if(locals.userLogged.role_id !== 2) { %>
                <div class="menu-para-logueados">
                    <img src="/img/avatars/<%= locals.userLogged.avatar %>">
                    <button class="dropdown-btn">Hola <%= locals.userLogged.first_name %> <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-container">
                        <a href="/users/profile">Mi Perfil</a>
                        <a href="/paginaEnConstruccion">Mis Compras</i></a>
                        <a href="/users/logout">Cerrar sesión</a>
                    </div>
                </div>
                <ul>
                    <li><a class="active" href = "/">Home</a></li>
                    <li><a href = "/products/productServices">Servicios</a></li>
                    <li><a href = "/products">Mentorias</a></li>
                    <li><a href = "/paginaEnConstruccion">Enseña en iMentor</a></li>
                </ul>
                <% } else { %>
                    <div class="menu-para-logueados">
                        <img src="/img/avatars/<%= locals.userLogged.avatar %>">
                        <button class="dropdown-btn">Hola <%= locals.userLogged.first_name %> <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-container">
                            <a href="/users/profile">Mi Perfil</a>
                            <a href="/products/productCart">Mis Compras</i></a>
                            <a href="/users/logout">Cerrar sesión</a>
                        </div>
                    </div>
                    <ul>
                        <li><a class="active" href = "/">Home</a></li>
                        <li><a href = "/products/productServices">Servicios</a></li>
                        <li><a href = "/products">Mentorias</a></li>
                        <li><a href = "/paginaEnConstruccion">Enseña en iMentor</a></li>
                        <li><a href ="/users/list">Usuarios</a></li>
                    </ul>
                    <h4 class="administrador"><i class="fas fa-shield-alt"></i> Administrador <i class="fas fa-shield-alt"></i></h4>
                <% } %> 
            <% } %>
        </nav>
    </section>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "flex") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "flex";
          }
          });
        }
    </script>
</header>