<!-- views/partials/header.ejs -->

<header>
    <section class="navegacion">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/" class="enlace-logo">
                <img src="/img/Logo-iMentor1.png" alt="Logo iMentor" class="logo">
            </a>
            <div class="buscar">
                <input type="text" placeholder="Buscar" required>
                <div class="btn">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <a href="/login" class="enlace-cuenta">
                <i class="fas fa-user-circle"></i>
            </a>
            <a href="/products/productCart" class="enlace-cesta">
                <i class="fas fa-shopping-basket"></i>
            </a>
            <a href="#" class="enlace-pais">
                <i class="fas fa-globe"></i>
            </a>
            <button class="boton-header-crear-cuenta" type="submit"><a href= "/register">¡Crea tu cuenta!</a></button>
            <button class="boton-header-ingresar" type="submit"><a href= "/login">Ingresar</a></button>
            <ul>
                <li><a class="active" href = "/">Home</a></li>
                <li><a href = "/products/productServices">Servicios</a></li>
                <li><a href = "/products">Mentorias</a></li>
                <li><a href = "#">Enseña en iMentor</a></li>
                <li class="cesta"><a href = "/products/productCart"><i class="fas fa-shopping-basket"></i></a></li>
                <li class="crea-cuenta"><a href = "/register">¡Crea tu cuenta!</a></li>
                <li class="ingresar"><a href = "/login">Ingresar</a></li>
            </ul>
        </nav>
    </section>
</header>