<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <main>
        <div class="banner-login">
            <div class="background-login"></div>
            <div class="box-login">
                <div class="logo">
                    <img src="/img/Logo-iMentor2.png" alt="Logo iMentor">
                </div>
                <p>Te damos la bienvenida :)</p>
                <div class="login">
                    <form action="/users/login" method="POST" class="login-form">
                        <div class="login-email">
                            <i class="fas fa-solid fas fa-envelope"></i>
                            <input class="box-email" type="text" name="email" placeholder="tuemail@ejemplo.com"
                                autofocus id="email" value="<%= locals.old ? old.email : null %>">
                        </div>
                        <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.email.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="email-error"></p>
                        </div>
                        <div class="login-password">
                            <i class="fas fa-solid fas fa-lock"></i>
                            <input class="box-password" type="password" name="password" value="" id="password"
                                placeholder="Contraseña">
                        </div>
                        <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.password.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="password-error"></p>
                        </div>
                        <section class="password-section">
                            <div class="show-password"><br>
                                <input type="checkbox" name="show-password" onclick="myFunction()">
                                <label>Mostrar contraseña</label>
                                <script>
                                    function myFunction() {
                                        var x = document.getElementById("password");
                                        if (x.type === "password") {
                                            x.type = "text";
                                        } else {
                                            x.type = "password";
                                        }
                                    }
                                </script>
                            </div>
                            <div class="remember-me">
                                <input type="checkbox" name="remember">
                                <label>Recordar mi usuario</label>
                            </div>
                        </section>
                        <button class="login-button" type="submit">Ingresar</button>
                    </form>
                </div>
                <div class="references">
                    <div class="not-register">
                        <a href="/users/register">¿No estás registrado?</a>
                    </div>
                    <div class="password-forgotten">
                        <a href="#">Olvidé mi contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/login-validations-front.js"></script>
</body>

</html>