<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="banner-register">
            <div class="background-register"></div>
            <div class="box-img-register">
                <img src="img/student-laptop.jpg" alt="Student registering">
            </div>
            <div class="box-register">
                <h3>!Creá tu cuenta!</h3>
                <p>Te invitamos a formar parte de nuestra comunidad</p>
                <form action="/" method="GET" class="register-form">
    
                    <div class="register-username">
                        <label for="user-name"><i class="fas fa-user"></i>Nombre completo</label>
                        <input class="boxes" type="text" name="user-name" placeholder="Nombre y Apellido" id="user-name" required>
                    </div>
    
                    <div class="register-email">
                        <label for="email"><i class="fas fa-envelope"></i>E-mail</label>
                        <input class="boxes" type="email" name="email" placeholder="tuemail@ejemplo.com" id="email" required>
                    </div>

                    <div class="register-birth">
                        <label for="birth-date">Fecha de nacimiento</label>
                        <input class="boxes" type="date" name="birth-date" id="birth-date" required>
                    </div>
    
                    <div class="register-password">
                        <label for="password"><i class="fas fa-lock"></i>Contraseña</label>
                        <div class="box-showpassword">
                            <input class="boxes" type="password" name="password" value="" id="password" required>
                            <div class="show-password">
                                <input type="checkbox" name="show-password">
                                <label>Mostrar contraseña</label>
                            </div>
                        </div> 
                    </div>
    
                    <div class="terminos">
                        <input type="checkbox" name="terminos" id="terminos">
                        <label for="terminos">Acepto los términos y condiciones</label>
                    </div>
                    <button class="register-button" type="submit"><a href="/">Crear cuenta</a></button>
                </form>
                <div class="already-register">
                    <a href="/login">¿Ya tienes una cuenta?</a>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer') %>

</body>
</html>