<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="banner-register">
            <div class="background-register"></div>
            <div class="box-img-register">
                <img src="/img/student-laptop.jpg" alt="Student registering">
            </div>
            <div class="box-register">
                <h1>!Creá tu cuenta!</h1>
                <p>Te invitamos a formar parte de nuestra comunidad</p>
                <form action="/users/register" method="POST" class="register-form" enctype="multipart/form-data">
                    <div class="register-username">
                        <label for="firs_name"><i class="fas fa-user"></i>Nombre</label>
                        <input class="boxes" type="text" name="firs_name" placeholder="Nombre" id="firs_name" required>
                    </div>
                    <div class="register-username">
                        <label for="last_name"><i class="fas fa-user"></i>Apellido</label>
                        <input class="boxes" type="text" name="last_name" placeholder="Apellido" id="last_name" required>
                    </div>
                    <div class="register-username">
                        <label for="user_name"><i class="fas fa-user-circle"></i>Nombre de usuario</label>
                        <input class="boxes" type="text" name="user_name" placeholder="Nombre de usuario" id="user_name" required>
                    </div>
                    <div class="register-email">
                        <label for="email"><i class="fas fa-envelope"></i>E-mail</label>
                        <input class="boxes" type="email" name="email" placeholder="tuemail@ejemplo.com" id="email" required>
                    </div>
                    <div class="register-birth">
                        <label for="date_birth"><i class="fas fa-calendar-alt"></i>Fecha de nacimiento</label>
                        <input class="boxes" type="date" name="date_birth" id="date_birth" required>
                    </div>
                    <div class="register-age">
                        <label for="age"><i class="fas fa-universal-access"></i>Edad</label>
                        <input class="boxes" type="number" name="age" id="age" placeholder="Edad" min="0" required>
                    </div>
                    <div class="register-username">
                        <label><i class="fas fa-universal-access"></i>Género</label>
                        <select class="boxes" name="genero" id="genero">
                            <option selected="true" disabled="disabled">seleccione género</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Binario">Binario</option>
                        </select>
                    </div>
                    <div class="register-username">
                        <label for="country"><i class="fas fa-flag"></i>País</label>
                        <input class="boxes" type="text" name="country" placeholder="País" id="country" required>
                    </div>
                    <div class="register-password">
                        <label for="password"><i class="fas fa-lock"></i>Contraseña</label>
                        <div class="box-showpassword">
                            <input class="boxes" type="password" name="password" value="" id="password" required>
                            <div class="show-password">
                                <input type="checkbox" name="show-password">
                                <label>Mostrar contraseña</label>
                            </div>
                        </div> 
                    </div>
                    <div class="register-username">
                        <label><i class="fas fa-clipboard-list"></i>Categoría</label>
                        <select class="boxes" name="category" id="category">
                            <option selected="true" disabled="disabled">seleccione categoría</option>
                            <option value="Usuario">Usuario</option>
                            <option value="Mentor">Mentor</option>
                            <option value="Administrador">Administrador</option>
                        </select>
                    </div>
                    <div class="register-username">
                        <label><i class="fas fa-image"></i>Subir imagen de usuario</label>
                        <input class="boxes" type="file" name="avatar" id="avatar" accept=".jpg,.png" multiple> 
                    </div>  
                    <div class="terminos">
                        <input type="checkbox" name="terminos" id="terminos">
                        <label for="terminos">Acepto los términos y condiciones</label>
                    </div>
                    <div>
                        <button class="register-button" type="submit"><i class="fas fa-plus-circle"></i> Crear cuenta</button>
                        <button class="register-button" type="reset"><i class="fas fa-eraser"></i> Borrar</button>   
                    </div>
                </form>
                <div class="already-register">
                    <a href="/login">¿Ya tienes una cuenta?</a>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer') %>

</body>
</html>